@font-face {
    font-family: 'Kadwa';
    src: url('Fonts/Kadwa-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    margin:0;
    padding: 0%;
}
h1{
    font-family: monospace;
    font-size: 40px;
    margin: 0;
    color:#E1E6D2;
    text-align: center;
}
#Encabezado{
    position: sticky;
    top:0;
    width: -webkit-fill-available;
    align-items: center;
    box-shadow: inset #003149 0px -1px 30px;
    padding: 20px;
    background-color: #010a13;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#Enlaces{
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 5px solid #C89B3C;
}
#Enlaces > p{
    font-size: 22px;
    font-family: math;
    margin:0;
    margin-right: 60px;
    padding: 10px;
    display: inline;
    color: #C89B3C;
}
#Enlaces a{
    font-family: 'Kadwa', sans-serif;
    text-decoration: none;
    color: inherit;
}
#Contenido {
    background-image: url(Imagenes/Fondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 30px;
    padding-bottom: 60px;
    min-height: 100vh;
}
#Contenido > * {
    max-width: 1200px;
}
#Nombre, #Habilidades {
    margin:auto;
    width: fit-content;
    max-width: 1200px;
}
#Nombre img{
    max-width: 800px;
    margin-bottom: 40px;

}
#Nombre h2{
    word-break: break-all;
    text-shadow: 0px 0px 6px black;
    color:white;
    margin: auto;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Kadwa', sans-serif;
    cursor: pointer;
    width: fit-content;
}
#Habilidades {
    margin-top: 30px;
    background-color: #0A1428;
}
#Habilidades > table{
    color: white;
    margin: auto;
    font-size: 30px;
}
#Habilidades > table td, th {
    text-align: center;
    padding: 15px;
    width: 200px;
    max-width: 200px;
}
#Habilidades > table th {
    font-family: sans-serif;
}
#Habilidades img{
    aspect-ratio: 1/1;
    width: 150px;
    cursor: pointer;
}
#Habilidades iframe {
    aspect-ratio: 16/9;
    width: -webkit-fill-available;
    padding: 16px;
}
#Descripcion, #Lista, #Adicional {
    max-width: 1200px;
    background-color: #0A1428;
    padding: 30px;
    color: wheat;
    font-size: 25px;
    margin: auto;
    margin-top: 30px;
    font-family: sans-serif;
    border: 2px solid #C89B3C;
    box-shadow: inset #00000045 0px 0px 25px;
} 
#Lista a{
    text-decoration: none;
    color: #C89B3C;    
}
#Lista li {
    margin-bottom: 30px;
}
footer{
    font-size: 20px;
    bottom:0;
    width: -webkit-fill-available;
    align-items: center;
    box-shadow: inset #003149 0px -1px 30px;
    padding: 20px;
    background-color: #010a13;
    color: #CDFAFA;
    text-align: center;
    font-family: 'Kadwa', sans-serif;
    display: flex;
    justify-content: space-around;
}
.Boton {
    padding: 20px;
    background: #010a13;
    border: 3px solid #C89B3C;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Kadwa', sans-serif;
    transition: all 0.3s;
}
.Boton:hover {
    filter:invert();
}
.Centrar {
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
.hidden {
    display: none;
}
#Habilidades > table > tbody > tr.Habilidades> td {
    word-break: break-all;
    border: none;
    text-align: left;
    padding: 15px;
    color: #C89B3C;
    width: 100%;
}
#Habilidades > table > tbody > tr > td.active img{
    border: 1px solid #C89B3C; 
}
#miAudio {
    display: none;
}
footer > p{
    display: inline;
}
.BotonesDelFooter{
    color: #010A13;
    border-radius: 40px;    
    box-shadow: 0 0 0 0 #005A82, 0 0 0 0 #0AC8B9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 0.5rem;
    overflow: hidden;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.5rem;
    background-image: linear-gradient(-225deg, #0AC8B9 0%, #005A82);
    position: relative;
    margin: 32px;
}

.BotonesDelFooter::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #13ff13;
    background-image: linear-gradient(-225deg, #0AC8B9 0%, #005A82);
    z-index: -1;
    transition: transform 0.5s ease;
}

.BotonesDelFooter:hover{
    color: #F0E6D2;
    transform: translate(0, -6px);
}

.BotonesDelFooter:hover::after{
    transform: rotate(150deg);
}
